\:root
  /*========== Colors ==========*/
  --color-bg: #fff
  --color-text: #495758
  --color-measure: #20A69D
  
  /*========== Font and typography ==========*/
  --font-body: "abel-regular", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif
  --font-big: "big_john", "Arial Black", "Gadget", "Nimbus Sans L", sans-serif
  --font-slim: "slim_joe", "Courier New", Courier, "Nimbus Mono L", monospace
  --font-icon: "weathericons"
  
  --font-size-base: 16px



