\:root
  /*========== Font and typography ==========*/
  --font-body: "abel-regular", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif
  --font-big: "big_john", "Arial Black", "Gadget", "Nimbus Sans L", sans-serif
  --font-slim: "slim_joe", "Courier New", Courier, "Nimbus Mono L", monospace
  --font-icon: "weathericons"
  
  --font-size-base: 16px
  
[data-theme="default"]
  /*========== Colors ==========*/
  --color-bg: #fff
  --color-text: #495758
  --color-primary: #1fa69d
  --color-secondary: rgba(29, 211, 176, 1)
  
[data-theme="warm"]
  /*========== Colors ==========*/
  --color-bg: #f5eed7
  --color-text: #736a51
  --color-primary: #bf3b3b
  --color-secondary: rgba(255, 159, 41, 1)

[data-theme="fresh"]
  /*========== Colors ==========*/
  --color-bg: #f1f1f1
  --color-text: #0d5254
  --color-primary: #0ebea7
  --color-secondary: rgb(41, 164, 160)

[data-theme="tonic"]
  /*========== Colors ==========*/
  --color-bg: #fdfffc
  --color-text: #011627
  --color-primary: #bb0d24
  --color-secondary: rgba(4, 80, 142, 1)
  
[data-theme="rainy"]
  /*========== Colors ==========*/
  --color-bg: #E4FDE1
  --color-text: #575761
  --color-primary: #8ACB88
  --color-secondary: rgba(100, 131, 129, 1)
